# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*           @trippler/reviewers

.github/    @trippler/core
.husky/     @trippler/core
.vcode/     @trippler/core
.snaplet/   @trippler/core
deploy/     @trippler/core
scripts/    @trippler/core

apps/docs       @trippler/docs
apps/swagger    @trippler/docs

packages/app-store-cli                @hariombalhara
packages/dayjs                        @zomars
packages/emails                       @zomars
packages/embeds                       @hariombalhara
packages/eslint-plugin                @zomars
packages/features                     @zomars
packages/features/kbar                @alishaz-polymath
packages/features/ee/impersonation    @sean-brydon
packages/features/ee/payments         @alannnc
packages/features/ee/workflows        @CarinaWolli
packages/features/tips                @PeerRich
packages/ui                           @trippler/ui
packages/config                       @trippler/core